@import "tailwindcss";

:root {
  --background: #050114;
  --foreground: #ffffff;

  --primary: #bb3eff;
  --secondary: #fb9b00;

  --accent: #dbb1ff;

  --border: #997740;

  --muted-foreground: #d2d2d2;

  --card: #110c2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-accent: var(--accent);

  --color-border: var(--border);

  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);

  --font-sans: var(--font-sans);
  --font-instrument: var(--font-instrument-serif);
  --font-geist-mono: var(--font-geist-mono);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
    font-family: var(--font-geist-mono);
  }
}

.btn-gradient {
  background: linear-gradient(to top right, #5c14af, #fb9b00);
}

.gradient-wrapper {
  display: inline-block;
  background: linear-gradient(
    135deg,
    #747474 0%,
    #17171700 5%,
    #17171700 95%,
    #747474 100%
  );
}

.about-text-gradient {
  background: linear-gradient(to right, #5c14af, #fb9b00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #bb3eff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #bb3eff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
